<div *ngIf="messageEnable" class="alert alert-success" role="alert">
  <h4 class="alert-heading">Notification</h4>
<p>{{message}}</p>
  <p class="mb-0"></p>
</div>

<div class="container">
  <form
    class="row g-3"
    [formGroup]="UpdateAccountForm"
    (ngSubmit)="doUpdateAccount()"
  >
    <div class="col-md-6">
      <label for="inputCustomerId" class="form-label">CustomerId</label>
      <input
        type="number"
        class="form-control"
        id="inputCustomerId"
        formControlName="customerId"
      />
    </div>
    <br />

    <div class="col-md-4">
      <label for="inputAccountType" class="form-label"
        >Choose Account Type</label
      >
      <select id="inputAccountType" class="form-select" formControlName="type">
        <option>Saving</option>
        <option>Current</option>
      </select>
    </div>
    <br />

    <div class="col-md-6">
      <label for="inputtotalBalance" class="form-label">Total Balance</label>
      <input
        type="number"
        class="form-control"
        id="inputtotalBalance"
        formControlName="totalBalance"
      />
    </div>
    <br />

    <div class="col-md-4">
      <label for="inputAccountStatus" class="form-label">Account Status</label>
      <select
        id="inputAccountStatus"
        class="form-select"
        formControlName="status"
      >
        <option>active</option>
        <option>inactive</option>
      </select>
    </div>

    <div class="col-12">
      <button
        type="submit"
        class="btn btn-primary m-1"
        (click)="onClickSubmitButton()"
        [disabled]="!UpdateAccountForm.valid"
      >
        Update Account
      </button>
      <button class="btn btn-primary" type="button" (click)="resetForm()">Reset</button>
    </div>
  </form>
</div>
